{% extends "login/layout.html" %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <input type="password" name="old_password" id="old_password" required placeholder = "Enter Original Password">
        <input type="password" name="new_password1" id="new_password1" required placeholder = "Enter New Password">
        <input type="password" name="new_password2" id="new_password2" required placeholder = "Reenter New Password">
        <button type="submit">Apply</button>
        <button type="reset">Reset</button>
    </form>

{% endblock %}

{% block errors %}
    
    {% if form.errors %}
        <ul>
            {% for key, value in form.errors.items %}
                <li>{{ value }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}